{% extends 'base.html.twig' %}

{% block title %}{{project_name}} | All Posts!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>All Post</h1>

        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th width="200">Post Title</th>
                <th>Content</th>
                <th width="150">Date</th>
                <th width="90">Actions</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>{{post.getId()}}</td>
                    <td>{{post.getPostTitle()}}</td>
                    <td>{{post.getPostContent()|striptags|slice(0, 200)}}..</td>
                    <td>{{post.getCreated()|date(date_format)}}</td>
                    <td>
                        <a class="edit-link" title="Edit" href={{path('edit_post', {id: post.getId()})}}><i class="fa fa-pencil"></i></a>
                        <a class="delete-link" title="Delete" href={{path('delete_post', {id: post.getId()})}}><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
